#header {
    background-image: url('../../../assets/images/header-image.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
    height: 85vh;
}

.service-image {
    max-width: 300px;
    aspect-ratio: 1 / 1;
}
