<header class="container-fluid pb-4 px-0">
    <div 
        class="container-fluid text-center bg-image d-flex flex-column justify-content-center align-items-center text-white" id="header" 
    >
        <h1 class="h2 mb-2">Seja bem-vindo ao Barber Shop!</h1>
        <h2 class="h4 mb-4">Onde seu estilo vira realidade</h2>
        <a class="btn btn-primary btn-xl text-uppercase" href="#services">Agende seu horário</a>
    </div>
</header>

<section class="container py-4" id="services">
    <div class="container">
        <div class="text-center pb-5">
            <h2 class="text-uppercase">Serviços</h2>
            <h3 class="text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <div class="container">
                    <img src="../../../assets/images/scissors.png" />
                </div>
                <h4 class="my-3">Corte</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
            </div>
            <div class="col-md-4">
                <span class="container">
                    <img src="../../../assets/images/razor.png" />
                </span>
                <h4 class="my-3">Barba</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
            </div>
            <div class="col-md-4">
                <span class="container">
                    <img src="../../../assets/images/barber-chair.png" />
                </span>
                <h4 class="my-3">Spa day</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
            </div>
        </div>
    </div>
</section>

<section class="bg-dark text-white py-4" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="text-uppercase">Atendimentos</h2>
            <h3 class="text-muted pb-3">Confira alguns de nossos atendimentos.</h3>
        </div>
        <div class="container d-flex justify-content-around flex-wrap pb-4">
            <div class="col-lg-4 col-sm-6 mb-4">
                <img src="../../../assets/images/service-01.jpg" class="service-image"/>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <img src="../../../assets/images/service-02.jpg" class="service-image"/>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <img src="../../../assets/images/service-03.jpg" class="service-image"/>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <img src="../../../assets/images/service-04.jpg" class="service-image"/>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                <img src="../../../assets/images/service-05.jpg" class="service-image"/>
            </div>
            <div class="col-lg-4 col-sm-6">
                <img src="../../../assets/images/service-06.jpg" class="service-image"/>
            </div>
        </div>
    </div>
</section>

<section class="container bg-light py-4" id="team">
    <div class="container">
        <div class="text-center">
            <h2 class="text-uppercase">Conheça nosso time</h2>
            <h3 class="text-muted pb-4">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="text-center mb-2">
                    <img class="mx-auto rounded-circle w-25 mb-2" src="../../../assets/images/barber-01.jpg" alt="..." />
                    <h4>José Silva</h4>
                    <p class="text-muted">Cortes diversos</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="text-center mb-2">
                    <img class="mx-auto rounded-circle w-25 mb-2" src="../../../assets/images/barber-02.jpg" alt="..." />
                    <h4>André Luiz</h4>
                    <p class="text-muted">Especialista em barba</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="text-center mb-2">
                    <img class="mx-auto rounded-circle w-25 mb-2" src="../../../assets/images/barber-03.jpg" alt="..." />
                    <h4>Ana Clara</h4>
                    <p class="text-muted">Especialista em corte infantil</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p></div>
        </div>
    </div>
</section>

<section class="bg-dark text-white py-4" id="contact">
    <div class="container pb-4">
        <div class="text-center">
            <h2 class="text-uppercase">Entre em contato</h2>
            <h3 class="text-muted mb-4">Envie uma mensagem com a sua dúvida ou sugestão.</h3>
        </div>
        <form id="contactForm">
            <div class="row align-items-stretch mb-5">
                <div class="col-md-6 col-gap-5 d-grid gap-3">
                    <div class="form-group">
                        <input class="form-control bg-dark text-white border-secondary" id="name" type="text" placeholder="Nome" />
                    </div>
                    <div class="form-group">
                        <input class="form-control bg-dark text-white border-secondary" id="email" type="email" placeholder="Email" />
                    </div>
                    <div class="form-group mb-md-0">
                        <input class="form-control bg-dark text-white border-secondary" id="phone" type="tel" placeholder="Telefone" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-group-textarea mb-md-0">
                        <textarea class="form-control bg-dark text-white border-secondary" id="message" placeholder="Mensagem"></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<footer class="py-4">
    <div class="container text-center">
        <span class="text-muted">Copyright &copy; Matheus Silva 2022</span>
    </div>
</footer>
